.logbtn {

    cursor: pointer;
    line-height: 35px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 10px 5px;
}
.logtype {
    flex: 1;
    display: inline-block;
    border: 1px solid #E5E7E8;
    margin: 10px 5px;
    cursor: text;
    user-select: none;
    border-radius: 18px;
    padding-left: 15px;
    outline: none;
    height: 36px;
    background-color: white;
}

#signInKits {
    text-align: left;
    display: flex;
    position:relative;
}

#signInBar {
    overflow: hidden;
}

#closesignbtn {
    margin-right: 15px;
    padding: 0;
    width: 35px;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    display:flex;align-items:center;justify-content:center;
    transition: 0.5s;
}
#closesignbtn:hover {
    transform:rotate(180deg);
    transition: 0.5s;
}